* {
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
}
div {
    text-align: center;
    color: inherit;
}
button {
    float: right;
    border-radius: 3px;
    color: #fff;
    border: none;
    height: 32px;
    font-size: 0.85em;
    padding: 6px 18px 6px 18px;
    opacity: 1;
    cursor: pointer;
}

button:focus {
    outline:0;
}

i {
    float: left;
    font-size: 2em;
    margin: 0 5px;
}

a {
    color: inherit;
}

.buttons {
    margin-bottom: 15%;
}

#quoteBox {
    text-align: center;
    margin: 15% auto auto auto;
    padding: 40px 50px;
    width: 450px;
    background-color: #fff;
    border-radius: 3px;
}

#text {
    font-size: 1.75em;
    font-weight: 500;
}

#authDiv {
    margin-bottom: 5%;
}

#author {
    margin-right: 10%;
    font-size: 1.25em;
}